<section class="about py-5">
  <div class="container">
    <h2 class="text-uppercase text-white fw-bold display-3 text-center">about</h2>
      <app-star class="text-center"></app-star>
    <div class="row mt-5">
      <div class="col-lg-4 ms-auto p-2">
        <p class="lead text-white fw-semibold">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-lg-4 me-auto p-2">
        <p class="lead text-white fw-semibold">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
      </div>
    </div>
  </div>
</section>
